<title>WeatherWear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- jquery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- icon -->
<script src="https://kit.fontawesome.com/f5f9bb1bf4.js" crossorigin="anonymous"></script>

<!--favicon-->
<link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
<link rel="icon" href="/css/favicon.ico" type="image/x-icon">

<!-- bootstrap -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- nav -->
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/styles.css">

