<!DOCTYPE HTML>
<html>
<head>
    <title>WeatherWear</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
