<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <img src="/images/logo-color.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    <a class="navbar-brand" href="/">weatherwear</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end ml-auto">
            {{#user_id}}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/save-wear">옷차림 저장</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/eval-wear">옷차림 평가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/mypage">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
            {{/user_id}}
            {{^user_id}}
                <li class="nav-item active">
                    <a class="nav-link" href="/user/login">로그인</a>
                </li>
            {{/user_id}}
        </ul>
    </div>
</nav>