<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias type="com.kitri.weatherwear.domain.User" alias="User" />
        <typeAlias type="com.kitri.weatherwear.wear.Wear" alias="Wear" />
        <typeAlias type="com.kitri.weatherwear.web.dto.UserLoginRequestDto" alias="userLoginRequestDto" />
        <typeAlias type="com.kitri.weatherwear.web.dto.UserSignUpRequestDto" alias="userSignUpRequestDto" />
        <typeAlias type="com.kitri.weatherwear.domain.Clothes" alias="Clothes" />
        <typeAlias type="com.kitri.weatherwear.web.dto.WearResponseDto" alias="WearResponseDto" />
        <typeAlias type="com.kitri.weatherwear.domain.ClothesNameList" alias="ClothesNameList"/>
        <typeAlias type="com.kitri.weatherwear.web.dto.WearSaveRequestDto" alias="wearSaveRequestDto"/>
        <typeAlias type="com.kitri.weatherwear.web.dto.WearFindLikeRequestDto" alias="wearFindLikeRequestDto"/>
    </typeAliases>
</configuration>