html{
    width:100%;
    height: 100%;
}

.eval img{
    width:50px;
    height: 50px;
}

.hidden{
    display: none;
}

.container{
    padding: 11rem 0;
}

#page-header{
    color: #282828;
}

h2{
    margin : 0;
}

#btn-reg{
    color: #c0abfd;
    border-color: #c0abfd;
}

.eval{
    margin-top: 12px;
    font-weight: 300;
    background-color: rgba(247, 247, 247, 0.973);
    box-shadow: 0 .125rem .25rem rgba(226, 219, 255, 0.75) !important;
    padding: 12px;
}

.sub-title{
    font-size: 0.8em;
}

button>span{
    margin-left: 5px;
}
button{
    margin-right: 5px;
}

.eval-btn p{
    margin: 0;
    font-size: 0.8em;
    color:#616161;
}


#hot-btn .fa-thermometer-full{
    color: #ff7979;
    font-size: 2em;
}

#hot-btn:hover{
    background-color: #ff7979;
}

#hot-btn:hover .fa-thermometer-full{
     color: white;
 }

#hot-btn:hover p.btn-text{
    color: white !important;
}

#warm-btn .fa-thermometer-half{
    color: #badc58;
    font-size: 2em;
}

#warm-btn:hover{
    background-color: #badc58;
}

#warm-btn:hover .fa-thermometer-half{
    color: white;
}

#warm-btn:hover p.btn-text{
    color: white !important;
}

#cold-btn .fa-thermometer-empty{
    color: #93beff;
    font-size: 2em;
}

#cold-btn:hover{
    background-color: #93beff;
}

#cold-btn:hover .fa-thermometer-empty{
    color: white;
}

#cold-btn:hover p.btn-text{
    color: white !important;
}

#del-btn .fa-times{
    color: red;
    font-size: 1.4em;
}

#del-btn:hover{
    background-color: red;
}

#del-btn:hover .fa-times{
    color: white;
}

#del-btn:hover p.btn-text{
    color: white !important;
}
