.navbar{
    padding: 10px 80px;
    background: linear-gradient( to bottom, #fff, #f3f3f6 ) !important;
}

.navbar-brand {
    color: #616161 !important;
}


nav img {
    margin-right: 10px;
}

#navbarSupportedContent a {
    color: #616161;
}

#navbarSupportedContent a:hover {
    color: #282828;
    border-bottom: 2px solid #e2d9fc;

}