<title>WeatherWear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- nav22.css -->
<link rel="stylesheet" href="../css/nav.css">
<link rel="stylesheet" href="../css/styles.css">
