<!DOCTYPE HTML>
<html>
<head>
    <title>WeatherWear</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- icon -->
    <script src="https://kit.fontawesome.com/f5f9bb1bf4.js" crossorigin="anonymous"></script>

    <!--favicon-->
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/css/favicon.ico" type="image/x-icon">

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- nav -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

    <script
            src="https://kit.fontawesome.com/a268effaf1.js"
            crossorigin="anonymous"
    ></script>
    <script src="/js/snap.svg-min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
</head>
<body>
<div class="background">
    <div class="sub-background">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
            <img src="/images/logo-white.png" width="30px" height="30ox" class="d-inline-block align-top" alt="" loading="lazy">
            <a class="navbar-brand" href="/" >weatherwear</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-end ml-auto">
                    {{#user_id}}
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/save-wear">옷차림 저장</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/eval-wear">옷차림 평가</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">로그아웃</a>
                        </li>
                    {{/user_id}}
                    {{^user_id}}
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">회원가입</a>
                        </li>
                    {{/user_id}}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="two_card row justify-content-md-center">
                <div class="left_card col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-4">
                    <svg id="back">
                        <radialGradient id="SVGID_1_" cx="0" cy="0" r="320.8304" gradientUnits="userSpaceOnUse">
                            <stop  offset="0" style="stop-color:#FFDE17;stop-opacity:0.7"/>
                            <stop  offset="1" style="stop-color:#FFF200;stop-opacity:0"/>
                        </radialGradient>
                        <path id="sunburst" style="fill:url(#SVGID_1_);" d="M0,319.7c-18.6,0-37.3-1.6-55.5-4.8L-7.8,41.4c5.1,0.9,10.6,0.9,15.7,0L56,314.8C37.6,318,18.8,319.7,0,319.7z
                        M-160.8,276.6c-32.5-18.8-61.3-42.9-85.5-71.6L-34,26.2c3.4,4.1,7.4,7.4,12,10.1L-160.8,276.6z M161.3,276.4L22.1,36.2
                        c4.5-2.6,8.6-6,12-10.1l212.6,178.5C222.5,233.4,193.8,257.6,161.3,276.4z M-302.5,108.3C-315.4,73-321.9,36-322-1.8l277.6-0.5
                        c0,5.3,0.9,10.4,2.7,15.2L-302.5,108.3z M302.6,107.8L41.8,12.8c1.7-4.7,2.6-9.7,2.6-14.9c0-0.3,0-0.6,0-1H322l0-1.3l0,1.9
                        C322,35.4,315.5,72.5,302.6,107.8z M-41.8-17.5l-261-94.5c12.8-35.4,31.6-68,55.8-96.9L-34.1-30.8C-37.5-26.8-40.1-22.3-41.8-17.5z
                        M41.7-17.7c-1.8-4.8-4.4-9.3-7.8-13.3l212-179.2c24.3,28.8,43.3,61.3,56.3,96.6L41.7-17.7z M-22.2-40.8l-139.6-240
                        c32.7-19,68.1-32,105.2-38.6L-8-46.1C-13-45.2-17.8-43.4-22.2-40.8z M22-40.9c-4.4-2.6-9.2-4.3-14.2-5.1l47.1-273.6
                        c37.2,6.4,72.7,19.2,105.4,38L22-40.9z"/>
                    </svg>

                    <nav id="weather-btn">
                        <ul class="nav justify-content-center">
                            <li><a id="button-snow" ><i class="wi wi-snow"></i></a></li>
                            <li><a id="button-wind"><i class="wi wi-strong-wind"></i></a></li>
                            <li><a id="button-rain"><i class="wi wi-rain"></i></a></li>
                            <li><a id="button-thunder"><i class="wi wi-lightning"></i></a></li>
                            <li><a id="button-sun"class="active"><i class="wi wi-day-sunny"></i></a></li>
                        </ul>
                    </nav>
                    <div id="card" class="weather">

                        <svg id="inner">
                            <defs>
                                <path id="leaf" d="M41.9,56.3l0.1-2.5c0,0,4.6-1.2,5.6-2.2c1-1,3.6-13,12-15.6c9.7-3.1,19.9-2,26.1-2.1c2.7,0-10,23.9-20.5,25 c-7.5,0.8-17.2-5.1-17.2-5.1L41.9,56.3z"/>
                            </defs>
                            <circle id="sun" style="fill: #F7ED47" cx="0" cy="0" r="50"/>
                            <g id="layer3"></g>
                            <g id="cloud3" class="cloud"></g>
                            <g id="layer2"></g>
                            <g id="cloud2" class="cloud"></g>
                            <g id="layer1"></g>
                            <g id="cloud1" class="cloud"></g>
                        </svg>
                        <div class="details">
                            <div class="js-weather temp text-monospace">20<span>c</span></div>
                            <div class="right">
                                <div id="date">Monday 22 August</div>
                                <div id="summary"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-side col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-0 col-lg-5">
                    <div class="today-info-container">
                        {{#user_id}}
                            <span class="hidden" id="user_id_js">{{user_id}}</span>
                        {{/user_id}}
                        <!--user_id가 있으면 toggle해야될듯-->
                        <div class="today-info">
                            <div class="precipitation"> <span class="title">구름</span><span class="value text-monospace" id="clouds">0 %</span>
                                <div class="clear"></div>
                            </div>
                            <div class="humidity"> <span class="title">습도</span><span class="value text-monospace" id="humidity">34 %</span>
                                <div class="clear"></div>
                            </div>
                            <div class="wind"> <span class="title">바람</span><span class="value text-monospace" id="wind">0 km/h</span>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <!--user_id가 있으면 toggle해야될듯-->
                        <div class="today-recommend text-center">
                            <p class="recommend_text ml-2 mr-2 mt-0 mb-3 text-left">
                                <i class="fas fa-tshirt"></i>
                                 오늘의 추천 옷차림
                                </p>
                            <div class="precipitation">
                                <img id="OUTER_BEST" src="" alt="OUTER">
                                <img id="TOP_BEST" src="" alt="TOP">
                                <img id="BOTTOM_BEST" src="" alt="TOP">
                            </div>
                            <p class="today-recommend-msg mt-3 mb-2"></p>
                        </div>
                    </div>
                    <div class="week-container">
                        <ul class="week-list">
                            <li class="active"><image class="day-icon" id="onedayIcon"></image><span id="oneDayAfter" class="day-name">Tue</span><span id="oneday-temp" class="day-temp">29°C</span></li>
                            <li><image class="day-icon" id="twodayIcon"></image><span id="twoDayAfter" class="day-name">Wed</span><span id="twoday-temp" class="day-temp">21°C</span></li>
                            <li><image class="day-icon" id="threedayIcon"></image><span id="threeDayAfter" class="day-name">Thu</span><span id="threeday-temp" class="day-temp">08°C</span></li>
                            <li><image class="day-icon" id="fourdayIcon"></image><span id="fourDayAfter" class="day-name">Fry</span><span id="fourday-temp" class="day-temp">19°C</span></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="location-div">
                        <button class="location-button" id="changeLocBtn" data-toggle="tooltip" data-placement="bottom" title="위치를 다시 지정합니다">
                            <i class="marker fas fa-map-marker-alt"></i>
                        </button>
                        <span class="js-location" class="text-capitalize"></span>

                    </div>
                </div>
                <svg id="outer"></svg>
            </div>
        </div>
    </div>
</div>
<script src="/js/weather.js"></script>
<script src="/js/animation.js" defer></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{{>layout/footer}}
</body>
</html>