{{>layout/header}}
<link rel="stylesheet" href="../css/mypage.css">
<script src="js/mypage.js"></script>
</head>
<body>
<body>
<header>
    <div class="header-banner"></div>
</header>

<section class="content">
    <article>
        <h2>How to Use</h2>
        <p>1.회원가입 후 로그인을 합니다. <br> 2.자신이 입은 옷을 저장합니다. <br> 3.추천 알고리즘을 통해 기온에 맞는 옷을 추천 받을 수 있습니다.</p>
        <hr>
        <h2>지난 평가 수정하기</h2>
        <p>지난 평가를 수정해 더 정확한 추천 알고리즘을 이용해보세요. </p>
        <hr>
        <h2>회원 탈퇴하기</h2>
        <button type="button" id="btn-delete">탈퇴하기</button>

    </article>

    <aside>
        <img src="http://placehold.it/144x150">
        <img src="http://placehold.it/144x150">
    </aside>
</section>


{{>layout/footer}}