<nav class="header">
    <div class="navbar_logo">
        <i class="fas fa-cloud-sun" id="logo"></i>
        <a class="nav_title" href="/">WeatherWear</a>
    </div>
    <ul class="navbar_menu">
        {{#user_id}}
            <li><a href="">옷차림저장</a></li>
            <li><a href="/users/eval-wear">평가하기</a></li>
            <li><a href="/logout">로그아웃</a></li>
        {{/user_id}}
        {{^user_id}}
            <li><a href="/user/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li> <!--참고!!! login과 singup URL같음-->
        {{/user_id}}
    </ul>
    <ul class="navbar_icons">
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-instagram"></i></li>
    </ul>
</nav>