<!DOCTYPE HTML>
<html>
<head>
    {{>layout/header}}

    <!-- datePicker - jquery-ui  -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--  save-wear.css  -->
    <link rel="stylesheet" href="/css/save-wear.css">
</head>

<body>
    <!--  nav  -->
    {{>layout/nav}}

    <div class="site-section ">
        <div class="container">

            <form id="clothes-form" >

                <div class="row mb-5 align-items-center">
                    <div class="des col-md-12 col-lg-6 mb-4 mb-lg-0">
                        <h3>{{user_name}}님의 옷차림을 저장해주세요</h3>
                        <p class="mb-0">오늘 어떤 옷을 입었나요?<br>최대 5일전 옷차림까지 저장 가능합니다</p>
                    </div>
                    <div class="col-md-12 col-lg-6 text-left text-lg-right">
                        <div class="wrapper ml-auto">
                            <label id="date-piker-label" for="datepicker"><i class="far fa-calendar-alt"></i><span style="margin-left: 8px;">Date</span>
                                <input type="text" class="form-control text-right" id="date-piker-input" name="wear-date" autocomplete="off">
                            </label>
                            <label><i class="fas fa-thermometer-half"></i><span style="margin-left: 8px;">Temperature</span>
                                <input type="text" class="form-control text-right" id="avg-temp" name="avg-temp" readonly>
                            </label>
                        </div>
                    </div>
                </div>
                <!--   옷차림 선택     -->
                <!-- outer -->
                <div id="choose-section" class="row no-gutter" >
                    <div id="choose" class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
                        <img id="selected-outer-img"><br>
                        <select id="outer-select" class="custom-select" onchange="changeSelectImg('outer')">
                            <option value="0"> [outer]선택하세요 </option>
                            <!-- <option></option> js로 추가 -->
                        </select>
                    </div>

                    <div id="choose" class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
                        <!-- top -->
                        <img id="selected-top-img"><br>
                        <select id="top-select" class="custom-select" onchange="changeSelectImg('top')">
                            <option value="0"> [top]선택하세요 </option>
                            <!-- <option></option> js로 추가 -->
                        </select>
                    </div>

                    <div id="choose" class="col-sm-6 col-md-4 col-lg-4 mb-4 px-4">
                        <!-- bottom -->
                        <img id="selected-bottom-img" alt=""><br>
                        <select id="bottom-select" class="custom-select" onchange="changeSelectImg('bottom')">
                            <option value="0"> [bottom]선택하세요 </option>
                            <!-- <option></option> js로 추가 -->
                        </select>
                    </div>
                </div>

                <div id="div-save" class="row justify-content-end px-5">
                    <div cclass="col-sm-6 col-md-4 col-lg-4 mb-4 ">
                        <input type="hidden" id="user_id" name="user_id" value={{user_id}}>
                        <span style="margin-right: 5px;">옷차림을 저장합니다  </span>
                        <input type="button" id="submit" class="btn px-3 btn-outline-light" value="SAVE">
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- datePicker 한글 버전 및 disable  -->
    <script src="/js/datepicker-ko.js"></script>
    <script src="/js/save_wear.js"></script>

    {{>layout/footer}}

</body>
</html>