<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
<!--
This was created based on the Dribble shot by Deepak Yadav that you can find at https://goo.gl/XRALsw
I'm @hk95 on GitHub. Feel free to message me anytime.
-->

<section class="user">
    <div class="user_options-container">
        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login">
                <h2 class="forms_title">Welcome!</h2>
                <form class="forms_form">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="email" placeholder="ID" class="forms_field-input" required autofocus />
                        </div>
                        <div class="forms_field">
                            <input type="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input type="password" placeholder="E-mail" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot">*위치에 따른 예측을 위해<br> 브라우저의 위치 수집을<br>허용해주세요!</button>
                        <input type="submit" value="Sign up" class="forms_buttons-action">
                    </div>
                </form>
            </div>
        </div>

        <div class="user_options-text">
            <div class="user_options-registered">
                <h2 class="user_registered-title">Have an account?</h2>
                <p class="user_registered-text">이미 아이디를 가지고 계시다면, 바로 로그인해보세요!<br>
                    웨더웨어가 날씨에 맞는 개인별 옷 추천을 해드려요!</p>
                <button class="user_registered-login" id="login-button">Login</button>
            </div>
        </div>
    </div>
</section>
<script src="js/login.js"></script>
</body>
</html>
