<!DOCTYPE HTML>
<html>
<head>
    {{>layout/header}}
    <!--  save-wear.css  -->
    <link rel="stylesheet" href="/css/save-wear.css">
</head>
<body>
    {{>layout/nav}}
    <div class="container" style="margin-top: 7rem">
        <h3>오늘날씨 추천 옷차림입니다</h3>
        <div class="recommend-style">
            <img id="recommend-outer-img" width="100px" height="100px" src="../images/background.png">
            <p id="recommend-outer-name"></p>
        </div>
        <div class="recommend-style">
            <img id="recommend-top-img" width="100px" height="100px" src="../images/background.png">
            <p id="recommend-top-name"></p>
        </div>
        <div class="recommend-style">
            <img id="recommend-bottom-img" width="100px" height="100px" src="../images/background.png">
            <p id="recommend-bottom-name"></p>
        </div>
        <div id="weather-talk"></div>
        <button id="submit-btn">등록하기</button>

        <h3>

        </h3>

    </div>

    <script src="/js/today-wear.js"></script>
    {{>layout/footer}}
</body>
</html>