<!DOCTYPE HTML>
<html>
<head>

{{>layout/header}}

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<p class="tip">Click on button in image container</p>
<div class="cont">

        <div class="form sign-in">
            <form id="loginForm">
            <h2>Welcome back,</h2>
            <label>
                <span>Email</span>
                <input type="email" id="login_id"/>

            </label>
            <label>
                <span>Password</span>
                <input type="password" id="login_password"/>

            </label>
            <p class="forgot-pass">Forgot password?</p>
            <button type="button" id="btn-login" class="submit">Sign In</button>
            <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
            <button><a href="/oauth2/authorization/naver" role="button">Naver Login</a></button>
            </form>
        </div>

    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>New here?</h2>
                <p>Sign up and discover great amount of new opportunities!</p>
            </div>
            <div class="img__text m--in">
                <h2>One of us?</h2>
                <p>If you already has an account, just sign in. We've missed you!</p>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>

            <div class="form sign-up">
                <form id="signupForm">
                <h2>Time to feel like home,</h2>
                <label>
                    <span>Name</span>
                    <input type="text" id="signup_name"/>
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" id="signup_id"/>
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" id="signup_password"/>
                </label>
                <button type="button" id="btn-signup"  class="submit">Sign Up</button>
                <button type="button" class="fb-btn">Join with <span>facebook</span></button>
                </form>
            </div>

    </div>
</div>

<script type= "text/javascript">
  document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/login.js"></script>

{{>layout/footer}}


</body>
</html>