<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitri.weatherwear.domain.MyBatis.WearMapper">

    <select id="findAll" resultType="Wear">
        SELECT * FROM wear
    </select>

    <select id="findOne" resultType="Wear">
        SELECT * from wear where wear_no = #{wear_no}
    </select>

    <select id="findNotEvaluated" parameterType="String" resultType="WearResponseDto">
        SELECT * from wear where eval = 'N' and user_id = #{user_id}
    </select>

    <insert id="save" parameterType="wearSaveRequestDto">
        INSERT INTO wear(user_id, wear_date, wear_code, temp_code, like_no, eval)
        VALUES (#{user_id},#{wear_date},#{wear_code},#{temp_code},#{like_no},#{eval})
    </insert>

    <update id="updateEvaluationById" parameterType="map">
        UPDATE wear SET like_no = #{requestDto.like_no}, eval = #{requestDto.eval} where wear_no = #{wear_no}
    </update>

    <delete id="deleteById" parameterType="Wear">
        DELETE FROM wear WHERE wear_no = #{wear_no}
    </delete>

    <delete id="deleteAllById">
        DELETE FROM wear WHERE user_id = #{user_id}
    </delete>

    <select id="findRegiterDate" parameterType="String" resultType="java.util.Date">
        SELECT wear_date from wear WHERE user_id = #{user_id}
    </select>

    <select id="getBestLikeByTempCode" parameterType="wearFindLikeRequestDto" resultType="java.lang.String">
        SELECT max(likeSum)
        FROM (SELECT sum(like_no) as likeSum
                FROM wear
                WHERE user_id = #{user_id} and temp_code = #{temp_code}
                Group by wear_code ) as A
    </select>

    <select id="getBestWearCodeByBestLike" parameterType="map" resultType="java.lang.String">
        SELECT B.wear_code
        FROM ( SELECT wear_code, sum(like_no) as likeSum, wear_date
                FROM wear
                WHERE user_id = #{requestDto.user_id} and temp_code = #{requestDto.temp_code}
                group by wear_code) as B
        where B.likeSum = #{bestLike}
        order by wear_date desc
        limit 1
    </select>

    <select id="findEvaluated" parameterType="String" resultType="WearResponseDto">
        SELECT * from wear where eval = 'Y' and user_id = #{user_id} limit 10
    </select>
</mapper>